body{
  background-color: rgb(142, 166, 188);
}
form{

}
.butt{
  display: block;
  margin: auto;
  background-color: aqua;
  width: 20%;
  margin-top: 2%;
}
#content{
  text-align: center;
  margin-top: 1%;
}
#files{
  text-align: center;
  margin-top: 1%;
  color: rgb(30, 26, 20);
  font-size: larger;
}
